# =========================
# ENV / SEGREDOS
# =========================
.env
*.env
.env
*.env

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# SPRING BOOT BUILD
# =========================
target/
build/

# =========================
# IDEs (já está ok, só mantendo)
# =========================
.idea/
*.iml
.vscode/

# Configurações locais
src/main/resources/application-local.yaml